<div class="container">
    <h1>Experience</h1>
    <div class="cards">
      <div class="card">
        <h3>FullStack Developer, <i>Freelancer</i></h3>
        <p>06/2017 – present | <i>Switzerland</i></p>
        <ul>
          <li>Website with Angular2 / 4 - <i>Jeweler</i></li>
          <li>Mobile-app with Ionic - <i>Restaurant</i></li>
          <li>Website with Angular2 - <i>Restaurant</i></li>
          <li>Shopyfy and DataBank Development - <i>Grocery</i></li>
          <li>Temporary project - <i>NeoVac</i></li>
        </ul>
      </div>

      <div class="card">
        <h3>Legartis AG, <i>Intern Frontend Engineering</i></h3>
        <p>11/2019 – 03/2019 | <i>Zürich, Switzerland</i></p>
        <ul>
          <li>Scrum, Angular 7, TypeScript,Python, Django,UI , Jira</li>
        </ul>
      </div>

      <div class="card">
        <h3>intelligent works dogan, <i>Junior Java Web Developer</i></h3>
        <p>07/2012 – 12/2016 | <i>Zürich, Switzerland</i></p>
        <ul>
          <li>Development and maintenance of customer projects with the following technologies</li>
          <li>Java SE 7+, Spring Framework, Hibernate</li>
          <li>MySQL, MongoDB, NodeJS, Javascript</li>
          <li>AngularJS, ReactJS, D3, Bootstrap, Material UI</li>
          <li>Companies Website Development and Mobile App</li>
        </ul>
      </div>

      <div class="card">
        <h3>KZO Kulturzentrum Oberland & Plus Kulturverein, <i>Head and coordinator</i></h3>
        <p>01/2014 – 03/2016 | <i>Zürich, Switzerland</i></p>
        <ul>
          <li>Planning & Implementation of Integrations</li>
          <li>Culture & Educational Projects</li>
        </ul>
      </div>

      <div class="card">
        <h3>Zeytinburnu Anafen Prep School, <i>Instructor & Teacher</i></h3>
        <p>09/2010 – 06/2012 | <i>Istanbul, Turkey</i></p>
        <ul>
          <li>Physics,Mathematics & Russian</li>
        </ul>
      </div>

      <div class="card">
        <h3>Independent<i>Sales and Technical support on electronic devices</i></h3>
        <p>12/2005 – 05/2010 | <i>Bishkek, Kyrgyzistan</i></p>
        <ul>
          <li>Development and maintenance of customer projects with the following technologies</li>
          <li>Java SE 7+, Spring Framework, Hibernate</li>
          <li>MySQL, MongoDB, NodeJS, Javascript</li>
          <li>AngularJS, ReactJS, D3, Bootstrap, Material UI</li>
          <li>Companies Website Development and Mobile App</li>
        </ul>
      </div>
    </div>
  </div>
