<div class="container">
  <h1>Skills</h1>
  <div class="cards">
    <div class="card">
      <h2>Front-end Developer
        <!-- <i class="fas fa-code"></i> -->
        <!-- <i class="material-icons">
          code
        </i> -->
      </h2>

      <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
      <p>Things I enjoy designing:</p>
      <p>UX, UI, Web, Mobile, Apps, Logos</p>

      <ul>
        <li>Balsamiq Mockups</li>
        <li>Figma</li>
        <li>Invision</li>
        <li>Marvel</li>
        <li>Pen &amp; Paper</li>
        <li>Sketch</li>
        <li>Webflow</li>
        <li>Zeplin</li>
      </ul>
    </div>

    <div class="card">
      <h2>Back-end Developer
        <!-- <i class="fas fa-terminal"></i> -->
      </h2>

      <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
      <p>Things I enjoy designing:</p>
      <p>UX, UI, Web, Mobile, Apps, Logos</p>

      <ul>
        <li>Balsamiq Mockups</li>
        <li>Figma</li>
        <li>Invision</li>
        <li>Marvel</li>
        <li>Pen &amp; Paper</li>
        <li>Sketch</li>
        <li>Webflow</li>
        <li>Zeplin</li>
      </ul>
    </div>

    <div class="card">
      <h2>Mentor
        <!-- <i class="fas fa-chalkboard-teacher"></i> -->
      </h2>

      <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
      <p>Things I enjoy designing:</p>
      <p>UX, UI, Web, Mobile, Apps, Logos</p>

      <ul>
        <li>Balsamiq Mockups</li>
        <li>Figma</li>
        <li>Invision</li>
        <li>Marvel</li>
        <li>Pen &amp; Paper</li>
        <li>Sketch</li>
        <li>Webflow</li>
        <li>Zeplin</li>
      </ul>
    </div>
  </div>
</div>
