<mat-toolbar>
  <mat-toolbar-row>
    <a href="">
      <img src="../../assets/images/logo.png" alt="logo.png">
    </a>

    <span class="example-spacer"></span>

    <a href="" routerLinkActive="active" class="nav-bar">
      <span>About</span>
    </a>

    <a href="" class="nav-bar">
      <span>Experience</span>
    </a>

    <a href="" class="nav-bar">
      <span>Education</span>
    </a>

    <a href="" class="nav-bar">
      <span>Skill</span>
    </a>

    <a href="" class="nav-bar">
      <span>Contact</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
