<mat-toolbar>
  <mat-toolbar-row>
    <img src="../../assets/images/logo.png" alt="logo.png">
    <span class="example-spacer"></span>
    <!-- <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example user verified icon">
        verified_user
    </mat-icon> -->
    <a href="">
      <span>About</span>
    </a>
    <a href="">
      <span>Experience</span>
    </a>
    <a href="">
      <span>Education</span>
    </a>
    <a href="">
      <span>Skill</span>
    </a>
    <a href="">
      <span>Interests</span>
    </a>
    <a href="">
      <span>Certifications</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
