.container {
  margin: 50px 50px;
  text-align: center;
  .projects {
    background: linear-gradient(to left bottom, #360033, #2e295c, #014a7b, #00698c, #0b8793);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 0 0 1px #360033;
    display: flex;
    align-items: center;
    .project {
      flex-basis: 0;
      flex-grow: 1;
      padding: 1rem;

      h1{
        color: #ffffff;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.125;
      }

      p{
        color: #ffffff;
        margin: 0;
        font-size: 18px;
      }

      a {
        color: #ffffff;
        font-weight: 400;
        border-color: #0b8793;
        border-radius: 290486px;
        font-size: 1.25rem;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border: 1px solid #0b8793;
        display: inline-flex;
        height: 2.25em;
        width: 8.50em;
        text-decoration: none;
      }
      a:hover {
        background: linear-gradient(to right top, #360033, #2e295c, #014a7b, #00698c, #0b8793);
        border-color: #0b8793;
        color: #fff;
      }
    }
  }
}
